.logo {
    float: left;
    width: 30px;
    height: 30px;
    margin: 16px 24px 16px 0;
    background-image: url("../../assets/images/logo.png");
}

.site-layout .site-layout-background {
    background: #fff;
}